body {
    background-color: lightcyan;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 100%;
}

header {
    background-color: slategrey;
    min-height: 50px;
}

.highscores {
    float: left;
    padding: 10px;
}

.highscores a {
    color: #FFF;
    font-weight: bold;
}

.timer {
    color: #FFF;
    float: right;
    font-weight: bold;
    padding: 10px;
}

.start, .end {
    text-align: center;
}

.hide {
    display: none;
}

.wrapper {
  margin: 50px auto 0 auto;
  max-width: 600px;
  background-color: #FFF;
  padding: 20px;
  border-radius: 8px;
}

.answer-choice {
  width: 100%;
}

.choices button {
  display: block;
}
  
input[type="text"] {
  font-size: 100%;
}
  
ol {
  padding-left: 0px;
  max-height: 400px;
  overflow: auto;
}
  
li {
  padding: 5px;
  list-style: decimal inside none;
}
  
li:nth-child(odd) {
  background-color: #f3edfc;
}


  